extends layout

block script
  script(src='javascripts/index.js')

block content
  ul.nav.nav-tabs.reminder-tabs.justify-content-end
    li.nav-item
      a#active-tab-link.nav-link(href="#active") Upcoming
    li.nav-item      
      a#all-tab-link.nav-link(href="#all") All
  div#reminders-content
    ul.list-group#reminders-list
  
