extends layout

block script
  script(src='javascripts/index.js')

block content
  ul.nav.nav-tabs.reminder-tabs.justify-content-end
    li.nav-item
      a#soon-tab-link.nav-link(href="#soon") Soon
    li.nav-item
      a#upcoming-tab-link.nav-link(href="#upcoming") Upcoming
    li.nav-item
      a#previous-tab-link.nav-link(href="#previous") Previous      
    li.nav-item      
      a#all-tab-link.nav-link(href="#all") All
  div#reminders-content
    ul.list-group#reminders-list
  
