doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    title GCU Reminder
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="description", content="Reminder app made for fourth year honours project")
    meta(name="theme-color" content="#247BA0")
    link(rel="manifest", href="/manifest.json")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/app.js')
    script(src='javascripts/data-store.js')
    script(src='javascripts/repository.js')
    script(src='javascripts/location-handler.js')
    script(src='javascripts/notifications.js')
    script(src='javascripts/background-sync.js')
    block script
  body
    div.container
      div.row
        div.col-lg-3.sidebar
          h1 GCU Reminder
          nav
            ul.list-unstyled
              li
                a(href='/')
                  img(src='images/home-ic.png', alt='Home')
                  | Home
              li
                a(href='/reminder') 
                  img(src='images/time-ic.png', alt='Add Reminder')
                  | Add Reminder
              li
                a(href='/settings') 
                  img(src='images/settings-ic.png', alt='Settings')
                  | Settings   
          div#message
        div.col-lg-9.content
          block content
      hr
      footer.small.text-center.text-muted Copyright &copy; Alex McBride 2019 | Created for 4th year honours project
