extends layout

block script
  script(src='javascripts/test.js')

block content
  div#testing
    h2 Testing
    button#test-notifications.btn.btn-secondary(type='button') Test Push Notifications
    button#check-reminders.btn.btn-secondary(type='button') Check Reminders          
